{% extends "admin/base_site.html" %}
{% load sass_tags i18n static %}

{% block extrahead %}
  {{ block.super }}
  <!-- <script src="{% url 'admin:jsi18n' %}"></script> -->
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'app/scss/admin_review_form.scss' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="/admin/app/">App</a>
    &rsaquo; <a href="/admin/app/contactsuggestion/">Contact suggestions</a>
    &rsaquo; <a href="/admin/app/contactsuggestion/{{ suggestion.pk }}/change/">{{ suggestion }}</a>
    &rsaquo; Review Suggestions
</div>
{% endblock %}

{% block content %}
<h1>Review Contact Suggestion</h1>
<div id="content-main">
  {% if message %}
    {{ message }}
  {% endif %}
  {% if suggestion %}

    <p>
      <b>User:</b><br />
      &emsp;{{ suggestion.user.get_full_name }} ({{ suggestion.user.username }}) <br />
      &emsp;{{ suggestion.user.email }}
    </p>

    <p>
      <b>Suggestion:</b><br />
      &emsp;Status: {{ suggestion.status }}<br />
      &emsp;Created: {{ suggestion.date_created }}<br />
      &emsp;Last Modified: {{ suggestion.date_modified }} <br />
      &emsp;Description: {{ suggestion.description }} <br />
      &emsp;Self-suggestion: {% if suggestion.self_suggestion %}YES{% else %}NO{% endif %}
    </p>

    <form method="post" id="contact-suggestion-review-form">
      {% csrf_token %}

      <table id="suggestion-review-table">
        {% for row in table.rows %}
          <tr id="suggestion-review-{{row.field}}" class="review-row {{row.style}}">
            {% for cell in row.cells %}
              <{{ row.element }} class="review-cell {% if cell.style %}{{cell.style}}{% endif %}">
                {% if cell.is_field %}
                  {{ cell.value.errors|safe }}
                {% endif %}
                {{ cell.value|safe }}
              </{{ row.element }}>
            {% endfor %}
          </tr>
        {% endfor %}

          <!-- Records ?--
        -->

      </table>

      {{ contact_form.non_field_errors }}
    
      <div class="submit-row">
        <input type="submit" class="default" value="Approve">
        <p class="deletelink-box">
          <a class="deletelink" href="/admin/app/contactsuggestion/{{ suggestion.pk }}/reject/">Reject</a>
        </p>

      </div>
          
    </form>

  {% endif %}

</div>
{% endblock %}

{% block sidebar %}
{% endblock %}