body {
  background: skyblue;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

header {
  // position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.header-flex {
  display: flex;
  border-bottom: 2px lightgray solid;
  box-shadow: 0px 0px 4px 0px gray;
}

.header-logo {
  padding: 1rem 0.5rem 0;
}

.logo-bg {
  background: blue;
  border-radius: 2em;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: .75em 1.75em;
  position: relative;
  width: auto;
}

.header-title {
  width: 100%;
  padding: 1rem  0.5rem 0;
}

.header-user {
  min-width: 150px;
  padding: 2rem;
}

#home-columns-row {
  height: calc(100vh - 112px);
  // border: 1px solid black;
  position: absolute;
  width: 100vw;
  margin: 0;
}

#filter-column,
#results-column {
  overflow-y: auto;
  height: 100%;
}

#results-column {
  display: flex;
  flex-direction: column;
}

.contact-results {
  flex: 1;
}

.add-contact-control {
  position: sticky;
  bottom: 0;
}

#map {  
  position: relative;
}

#map svg {  
  height: 70vh;
  width: auto;
}

@mixin background-color($color) {
  background-color: $color;
}



