$wc-green: rgb(49, 132, 147);
$background: #f4f9f9;

:root {
  --highlight: rgba(0,0,0,0.2);
  --wc-green: rgb(49, 132, 147);
  --wc-blue: rgb(0, 46, 124);
  --background: #f4f9f9;
  --dk-background: rgba(80, 80, 80, .15);
}

body {
  background-color: var(--background) !important;
  display: flex;
  flex-flow: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}


/**
* Global Elements
*/

a,
.btn-link {
  color: var(--wc-green);
  text-decoration: none;
}

/**
* Header
*/

header {
  background: var(--wc-blue);
  height: 10vh;
}

.filter-header {
  margin-top: 0.5rem;
  >span {
    padding: 0.2rem;
    border-radius: 0.3rem;
  }
}

.filter-header:hover,
.home-link:hover,
#header-title:hover {
  color: var(--wc-blue);
  text-decoration: none;
} 

.filter-header>span:hover {
  background-color: var(--highlight);
}

.header-flex {
  align-content: center;
  box-shadow: 0px 0px 4px gray;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 2.5%;

  > div {
    align-items: center;
    display: flex;
  }
}

.header-logo {
  
  a {
    max-width: 200px;

    #header-logo {
      border-radius: 0.7rem;
      max-height: 5vh;
      max-width: 100%;
    }
  }
}

#header-title {
  font-size: 2rem;

  a {
    color: white;
    text-decoration: none;

    span {
      display: block;
      font-size: 1rem;
    }
  }
}

.header-user {

  button {

    &.btn-link {
      color: white;
      letter-spacing: 0.1rem;
      text-transform: uppercase;

      &:hover {
        color: aquamarine;
        border: 1px solid white;
        text-shadow: black;
      }
    }
  }
}

/**
* Main
*/

main {
  height: 90vh;

  .container-flex {
    display: flex;
    height: 100%;
  }
}

#home-columns-row {
  align-items: stretch;
  margin: 0;
  flex: 1;

  .home-column {
    flex: 1;
    height: 100%;

    &#results-column {
      flex: 2;
    }

    &#filter-column {
      background: var(--dk-background);
      font-size: .875em;
      flex: .75;
      padding-bottom: 1rem;
      padding-top: 1rem;
      overflow-y: auto;
      overflow-x: hidden;

      .filter-header {
        font-size: 1.5em;

        button.btn.explore-button {
          border: 1px solid gray;
          padding: 0.2rem;
          margin: 0 0 0.1rem 0.4rem;
        
          &:hover {
            border: 1px solid var(--wc-blue);
            background-color: var(--highlight);
          }
        }

      }
    }
  }
}


#contact-results-table_filter label {
  width: auto;
}

table#contact-results-table {
  tbody {
    tr.contact-row {
      cursor: pointer;
      &:hover {
        background-color: var(--highlight);
      }
    }
  }
}

div#contact-results-table_paginate {
  position: inherit;
  z-index: 10;
}

#filter-column{
    .filter-header>span {
      cursor: pointer;
    } 
    li.filter-list-item {
      list-style: none;
      span {
        cursor: pointer;
        border-radius: 0.3rem;
        padding: 0.2rem;
      }
      span:hover {
        color: var(--wc-blue);
        background-color: var(--highlight);
      }
    }
}


#map-column div.spinner-border,
#filter-column div.spinner-border {
  width: 15vw;
  height: 15vw;
  margin: 20%;
}

#results-column {
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    background: linear-gradient(rgba($background, 0), rgba($background,1));
    bottom: 0;
    content: "";
    height: 8vh;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  div.contact-results div.spinner-border {
    width: 15vw;
    height: 15vw;
    margin: 20% 16vw;
  }
}

.contact-results {
  height: 100%;
  overflow-y: scroll;
}

.toast-wrap {
  margin: 0;
  z-index: 9;
  height: 0;

  div.toast {
    width: 450px;
    max-width: 450px;
    bottom: 3px;
    position: absolute;

    .toast-body {
      padding: 0.2rem 1rem;

      button.btn {
        margin-left: 1rem;
      }
    }
  }
}


#map-column {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  border-left: 2px gray solid;
  box-shadow: 0px 4px 0px 0px gray;
}

#map {  
  position: relative;
  width: 100%;
}

#map svg {  
  height: 70vh;
  width: auto;
}

@mixin background-color($color) {
  background-color: $color;
}

#logout-rus {
  button{
    margin:0.5rem;
  } 
}

/* ACCOUNT MODALS/FORMS */
.hidden {
  display: none;
}

form#contact-suggestion-form button,
form#profile-form button,
form#password-form button {
  float: right;
  bottom: 0;
  position: sticky;
}

