:root {
  --background: skyblue;
  --wc-blue: #002e7c;
  --highlight: rgba(0,0,0,0.2);
}

body {
  background-color: var(--background) !important;
  display: flex;
  flex-flow: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

header {
  flex: 1;
}

#header-logo {
  max-height: 5rem;
  max-width: 40vw;
  border-radius: 0.7rem;
}

.home-link {
  text-decoration: none;
  color: black;
}

.filter-header {
  margin-top: 0.5rem;
  >span {
    padding: 0.2rem;
    border-radius: 0.3rem;
  }
}

.filter-header:hover,
.home-link:hover,
#header-title:hover {
  color: var(--wc-blue);
  text-decoration: none;
}

.filter-header>span:hover {
  background-color: var(--highlight);
}

.header-flex {
  display: flex;
  border-bottom: 2px lightgray solid;
  box-shadow: 0px 0px 4px 0px gray;
}

.header-logo {
  padding: 1rem 0.5rem 0;
}

.logo-bg {
  background: var(--wc-blue);
  border-radius: 2em;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: .75em 1.75em;
  position: relative;
  width: auto;
}

.header-title {
  width: 100%;
  padding: 1rem  0.5rem 0;
}

.header-user {
  min-width: 235px;
  padding: 2rem;
}

main {
  display: flex;
  flex: 5;
  flex-flow: column;
}

.container-flex {
  display: flex;
  flex: 1;
}

#home-columns-row {
  align-items: stretch;
  margin: 0;
  flex: 1;
}

#filter-column,
#results-column {}

#contact-results-table_filter label {
  width: auto;
}

#filter-column{
    .filter-header>span {
      cursor: pointer;
    } 
    li.filter-list-item {
      list-style: none;
      span {
        cursor: pointer;
        border-radius: 0.3rem;
        padding: 0.2rem;
      }
      span:hover {
        color: var(--wc-blue);
        background-color: var(--highlight);
      }
    }
}


#map-column div.spinner-border,
#filter-column div.spinner-border {
  width: 15vw;
  height: 15vw;
  margin: 20%;
}

#results-column {
  display: flex;
  flex-direction: column;

  div.contact-results div.spinner-border {
    width: 15vw;
    height: 15vw;
    margin: 20% 16vw;
  }
}


.contact-results {
  flex: 1;
  margin-bottom: 3rem;
}

.add-contact-control {
  position: sticky;
  bottom: 0;
  background-color: var(--background);
  padding-top: 0.8rem;
  border-top: 1px solid black;
}

#map-column {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  height: calc( 100vh - 113px);
  border-left: 2px gray solid;
  box-shadow: 0px 4px 0px 0px gray;
}

#map {  
  position: relative;
  width: 100%;
}

#map svg {  
  height: 70vh;
  width: auto;
}

@mixin background-color($color) {
  background-color: $color;
}

#logout-rus {
  button{
    margin:0.5rem;
  } 
}

/* ACCOUNT MODALS/FORMS */
.hidden {
  display: none;
}

form#contact-suggestion-form button,
form#profile-form button,
form#password-form button {
  float: right;
  bottom: 0;
  position: sticky;
}

