:root {
  --highlight: rgba(0,0,0,0.2);
  --wc-green: rgb(49, 132, 147);
  --wc-blue: rgb(0, 46, 124);
  --background: #ffffff;
  --dk-background: rgba(80, 80, 80, .15);
  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);
  --color-gray-800: oklch(0.278 0.033 256.848);
  --color-gray-900: oklch(0.21 0.034 264.665);
  --color-gray-950: oklch(0.13 0.028 261.692);
  --color-sky-50: oklch(0.977 0.013 236.62);
  --color-sky-100: oklch(0.951 0.026 236.824);
  --color-sky-200: oklch(0.901 0.058 230.902);
  --color-sky-300: oklch(0.828 0.111 230.318);
  --color-sky-400: oklch(0.746 0.16 232.661);
  --color-sky-500: oklch(0.685 0.169 237.323);
  --color-sky-600: oklch(0.588 0.158 241.966);
  --color-sky-700: oklch(0.5 0.134 242.749);
  --color-sky-800: oklch(0.443 0.11 240.79);
  --color-sky-900: oklch(0.391 0.09 240.876);
  --color-sky-950: oklch(0.293 0.066 243.157);
}

@import "variables";

/**
* Bootstrap 5.3 Accordion Overrides
*/
.accordion {
  --bs-accordion-bg: var(--background);
  --bs-accordion-btn-bg: var(--color-gray-50);
  --bs-accordion-active-bg: var(--color-gray-50);
  --bs-accordion-btn-color: var(--color-gray-800);
  --bs-accordion-active-color: var(--color-gray-800);

  .accordion-body {
    max-height: 35vh;
    overflow-y: auto;
  }
}

.form-check-input:checked {
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900) !important;
}

.text-bg-primary {
  --bs-bg-opacity: 1;
  background-color: var(--color-sky-700) !important;
  color: white !important;
}

body {
  background-color: var(--background) !important;
  display: flex;
  flex-flow: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}


/**
* Global Elements
*/

main a,
main .btn-link {
  color: var(--wc-green);
  text-decoration: underline;
}

main a:hover, 
main .btn-link:hover {
  color: var(--wc-blue);
}

/**
* Header
*/

header {
  background: var(--wc-blue);
  height: 90px;
}

.filter-header {
  margin-top: 0.5rem;
  >span {
    padding: 0.2rem;
    border-radius: 0.3rem;
  }
}

.filter-header:hover,
.home-link:hover,
#header-title:hover {
  color: var(--wc-blue);
  text-decoration: none;
} 

.filter-header>span:hover {
  background-color: var(--highlight);
}

.header-flex {
  align-content: center;
  box-shadow: 0px 0px 4px gray;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 2.5%;

  > div {
    align-items: center;
    display: flex;
  }
}

.header-logo {
  
  a {
    max-width: 200px;

    #header-logo {
      border-radius: 0.7rem;
      max-width: 100%;
    }
  }
}

#header-title {
  font-size: 2rem;

  a {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;

    span {
      display: block;
      font-size: 1.5vw;
    }
  }
}

.header-user {

  button {

    &.btn-link {
      color: white;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 1.7vw;

      &:hover {
        color: aquamarine;
        border: 1px solid white;
        text-shadow: black;
      }
    }
  }
}

/**
* Main
*/

main {
  height: calc(100vh - 90px);

  .container-flex {
    display: flex;
    height: 100%;
  }
}

#home-columns-row {
  align-items: stretch;
  margin: 0;
  flex: 1;
  min-height: 0;

  .border-right {
    border-right: 2px solid gray;
    overflow-y: scroll;
  }


  .home-column {
    flex: 1;
    height: 100%;
    background-color: var(--background);

    &#results-column {
      flex: 2;
    }


    &#filter-column {
      font-size: 1.7vw;
      flex: .75;
      height: 100%;
      max-height: calc(100vh - 90px);
      min-height: 0;
      padding-bottom: 1rem;
      padding-top: 1rem;
      overflow-y: auto;
      overflow-x: hidden;
      
      .list-unstyled {
        padding-left: 0;
      } 

      .filter-header {
        font-size: 2.3vw;

        button.btn.explore-button {
          border: 1px solid gray;
          padding: 0.2rem;
          margin: 0 0 0.1rem 0.4rem;
        
          &:hover {
            border: 1px solid var(--wc-blue);
            background-color: var(--highlight);
          }
        }

      }
    }
  }
}


#contact-results-table_filter label {
  width: auto;
}

table#contact-results-table {
  tbody {
    tr.contact-row {
      cursor: pointer;
      &:hover {
        background-color: var(--highlight);
      }
    }
  }
}

div#contact-results-table_paginate {
  position: inherit;
  z-index: 9;
}

#filter-column{
    .filter-header>span {
      cursor: pointer;
    } 
    li.filter-list-item {
      list-style: none;
      span {
        cursor: pointer;
        border-radius: 0.3rem;
      }
      span:hover {
        color: var(--wc-blue);
        background-color: var(--highlight);
      }
    }
}


#map-column div.spinner-border,
#filter-column div.spinner-border {
  width: 15vw;
  height: 15vw;
  margin: 20%;
}

#results-column {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  div#contact-results-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-bottom: 60px;
  }

  &:after {
    background: linear-gradient(rgba($background, 0), rgba($background,1));
    bottom: 0;
    content: "";
    height: 8vh;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  div.contact-results div.spinner-border {
    width: 15vw;
    height: 15vw;
    margin: 20% 16vw;
  }

  button.export-csv {
    margin: 0.5rem 0;
    float: right;
  }
}

div#results-column {
  
}

.toast-wrap {
  margin: 0;
  z-index: 9;
  height: 0;

  div.toast {
    width: 450px;
    max-width: 450px;
    bottom: 3px;
    position: absolute;

    .toast-body {
      padding: 0.2rem 1rem;

      a,
      button.btn {
        margin-left: 1rem;
      }
    }
  }
}


#map-column {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  border-left: 2px gray solid;
  box-shadow: 0px 4px 0px 0px gray;
}

#map {  
  position: relative;
  width: 100%;
}

#map svg {  
  height: 70vh;
  width: auto;
}

@mixin background-color($color) {
  background-color: $color;
}

#logout-rus {
  button{
    margin:0.5rem;
  } 
}

/* ACCOUNT MODALS/FORMS */
.hidden {
  display: none;
}

div#accountModalWrapper {
  div.user-actions {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
  }
  div.user-actions,
  div.user-actions a {
    display: grid;

    button {
      height: 50px;
      margin: 0.3rem 0;
    }
  }
}

form#contact-suggestion-form button,
form#profile-form button,
form#password-form button {
  float: right;
  bottom: 0;
  position: sticky;
}

button.modal-submit-button {
  margin-left: 1rem;
}

/* Suggestion Modal Overrides */
div#suggestionModal,
div#recordSuggestionModal,
div#suggestionMenuModal {
  div.modal-dialog {
    width: 80vw;
    min-width: 80vw;
  }
}

/* Dynamic Font-Size, Maximums and Minimums */

div#contact-results-table_length,
div#contact-results-table_filter,
div#contact-results-table_info,
div#contact-results-table_paginate {
  font-size: 1.5vw;
}

table#contact-results-table td {
  font-size: 1.7vw;
}

div#map .ol-attribution ul {
  font-size: 1.2vw;
}

@media screen and (max-width: 670px) {
  #header-title a {
    font-size: 17px;
  }

  #home-columns-row .home-column#filter-column .filter-header {
    font-size: 15px;
  }
  .header-user button.btn-link,
  #home-columns-row .home-column#filter-column {
    font-size: 11px;
  }

  #header-title a span {
    font-size: 10px;
  }

  div#contact-results-table_length,
  div#contact-results-table_filter,
  div#contact-results-table_info,
  div#contact-results-table_paginate {
    font-size: 10px;
  }

  table#contact-results-table td {
    font-size: 11.5px;
  }

  div#map .ol-attribution ul {
    font-size: 0.9vw;
  }
}

@media screen and (min-width: 1100px) {
  #header-title a {
    font-size: 28px;
  }
  
  #home-columns-row .home-column#filter-column .filter-header {
    font-size: 25px;
  }
  
  #header-title a span {
    font-size: 16.5px;
  }

  .header-user button.btn-link,
  #home-columns-row .home-column#filter-column {
    font-size: 19px;
  }

  div#contact-results-table_length,
  div#contact-results-table_filter,
  div#contact-results-table_info,
  div#contact-results-table_paginate {
    font-size: 16.5px;
  }

  table#contact-results-table td {
    font-size: 19px;
  }

  div#map .ol-attribution ul {
    font-size: 12px;
  }
}