#exploreModal {
    div.modal-dialog {
        max-width: 60vw;
    }
}

body,
#exploreModal {
    

    main.contact-page,
    main.entity-page {
        margin: 0 10%;
        height: calc( 100vh - 280px );
    }

    main.contact-page,
    main.entity-page,
    #exploreModalWrapper {

        h1 {
            margin-top: 1.5rem;
        }

        .entity-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .view-button {
            display: none
        }

        .entity-list-item {
            list-style: none;
            padding: 0.5rem;
            background-color: var(--color-gray-50);
            border: 1px solid var(--color-gray-50);
            border-radius: 0.3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .left-items {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
            }

            .entity-type-federal {
            color: oklch(37.9% 0.146 265.522) !important;
            background-color: oklch(88.2% 0.059 254.128) !important;
            }

            .entity-type-state{
                color: oklch(39.3% 0.095 152.535) !important;
                background-color: oklch(84.5% 0.143 164.978) !important;

            }

            .entity-type-tribal {   
                color: oklch(38.1% 0.176 304.987) !important;
                background-color: oklch(81.1% 0.111 293.571) !important;
            }
        }

        .entity-list-item:hover{
            background-color: oklch(97.7% 0.013 236.62);
            border: 1px solid oklch(50% 0.134 242.749);
            
            .view-button {
                display: block;
            }
        }   

        div.entity-contacts,
        div.contact-topics,
        table.contact-info-table,
        table.contact-topics-table,
        table.entity-detail-table,
        table.entity-contact-table {
            margin-left: 1.5rem;
            margin-bottom: 1rem;
            td {
                padding-right: 1rem;
            }
        }
    }
    

}    
