@import "variables";

#title-div {
    text-align: center;
}

.map {
    float: left;
    width: 40vw;
    height: calc(100vh - 280px);
    min-height: 350px;
    border: 1px solid var(--color-gray-300);
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-panel,
#right-panel {
    margin: 0 2vw;
    max-width: 40%;
    min-width: 250px;
    p {
        font-size: 13px;
    }
}

#filter-boxes-wrapper fieldset {
    border: none;
}

textarea:disabled {
    background-color: #EEEEEE;
    color: black;
    font-size: 14px;
}

div.right-panel {

    h4 {
        margin-bottom: 1.5rem;
    }
}

#suggestion-form-topic {
    margin-bottom: 1.5rem;

    label {
        font-size: 1.125em;
        font-weight: bold;
    }
}

.disclaimer-container {
    padding: 1rem;
    background-color: var(--alice-blue);
    border: 1px solid var(--glaucous-2);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    p {
        color: var(--color-gray-700);
    }
}

.region-container {
    margin-top: 1.5rem;
    
    .number {
        font-weight: bold;
        color: var(--steel-azure);
        background-color: var(--alice-blue);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
    }

    h4 {
        color: var(--color-gray-700);
    }

    .checkboxes-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .checkboxes-container {
        padding: 0.5rem;
        background-color: var(--color-gray-50);
        border-radius: 0.3rem;
    }
}