#title-div {
    text-align: center;
}

.map {
    float: left;
    width: 40%;
    min-width: 200px;
    height: calc(100vh - 95px);
    border: 1px solid black;
}

#filter-boxes-wrapper,
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-panel,
#right-panel {
    margin: 0 0.75rem;
}

#state-boxes-wrapper,
#depth-boxes-wrapper {
    margin: 0.1rem 1rem;
}