@import "variables";

#suggestionMenuModalWrapper {

    .section_container {
        padding: 0.75rem;
        margin: 0.75rem 0;
        border: 1px solid var(--bs-modal-header-border-color);
        border-radius: 0.3rem;
    }

    p#suggestion-menu-details {
        font-size: 12px;
    }

    #edit-contact-suggestion-btn {
        margin: 0 0 1.5rem -1.5rem;
    }

    .right-panel {
        h4 {
            margin: 0 1.5rem;
        }
    }

    .suggestion_container {
        border: 1px solid transparent;
        border-radius: 0.3rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .align-baseline {
        align-self: baseline;
        height: fit-content;
    }

    .status-Pending {
        background-color: oklch(94.5% 0.129 101.54);
        color: oklch(55.4% 0.135 66.442);
    }
    .status-Approved {
        background-color: oklch(92.5% 0.084 155.995);
        color: oklch(52.7% 0.154 150.069);
    }
    .status-Declined {
        background-color: oklch(88.5% 0.062 18.334);
        color: oklch(50.5% 0.213 27.518);
    }

    #contact-suggestion-description {
        background-color: skyblue;
    }

    .suggestion_status_controls {
        font-size: .75em;
        text-align: right;

        p {
            margin-bottom: 0.2rem;
        }
    }

    button.btn-standard {
        border: 1px solid var(--bs-modal-header-border-color);
        &:hover {
            background-color: rgba(80,80,80,0.2);
            border-color: black;
        }
    }   
}