/**
 * Form styles
 */
ul.errorlist {
    color: rgb(100,0,0);
    border: 2px solid red;
    padding: 0.7rem;
    margin: 0.7rem;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    list-style-type: none;
    max-width: 500px;
}

div.hidden-fields {
    display: none;
}

/* Form elements */

fieldset {
    border-bottom: 1px solid #666;
    padding: .5rem;
    margin: .5rem 0;
}

.field-wrapper {
    margin-bottom: .5rem;

    label {
        display: block;
        font-size: .8125em;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"] {
        display: block;
        font-size: .875em;
        width: 100%;
    }

    select {
        @extend input[type="text"];
        max-width: 320px;
    }

    textarea {
        @extend input[type="text"];
        height: 60px;
    }

    .help-text {
        font-size: .75em;
        color: #666;

        span {
            display: block;
        }
    }

    .phone-field-ext {
        font-size: .875em;
        font-weight: 500;
        
        &~ input {
            display: inline-block;
            margin: 4px auto 0;
            width: 50%;
        }
    }
}

/* MODAL */
.modal-dialog {
    max-width: 80vw;
    width: 80vw;
}

.modal-body {
    overflow: auto;
    max-height: calc(100vh - 125px);
}