ul.errorlist {
    color: rgb(100,0,0);
    border: 2px solid red;
    padding: 0.7rem;
    margin: 0.7rem;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    list-style-type: none;
    max-width: 500px;
}

div.hidden-fields {
    display: none;
}

label {
    width: 10rem;
    display: inline-block;
}

.full-width-rows label {
    width: unset;
}

.help-text {
    font-size: small;
    color: gray;
}

/* MODAL */
.modal-dialog {
    max-width: 80vw;
    width: 80vw;
}

.modal-body {
    overflow: auto;
    max-height: calc(100vh - 150px);
}