@import "variables";

#suggestionMenuModalWrapper {

    .row {
        border-bottom: 2px solid $wc-blue;
        padding: 0.75rem;
        margin: 0.75rem 5%;
    }

    #add-topic-button {
        float: right;
    }

    .suggestion_container {
        cursor: pointer;
        font-size: .875em;
    }
    .suggestion_container:hover {
        border-width: 2px;
    }
    
    .status_Pending,
    .Pending {
        background-color: #ffc107;
    }
    .status_Approved,
    .Approved {
        background-color: lightgreen;
    }
    .status_Rejected,
    .Rejected {
        background-color: red;
    }

    #contact-suggestion-description {
        background-color: skyblue;
    }

    .suggestion_status_controls {
        font-size: .75em;
        text-align: right;

        p {
            margin-bottom: 0.2rem;
        }
    }

    .contact-record-menu-entry {
        border-bottom: 1px solid grey;
        margin: 0.75rem;
        font-size: .875em;

        .col-8 {
            margin: .5rem 0;
        }

        .col-4 {
            text-align: right;
        }
    }

    
}