# REQUIRED
django >=5.2,<6
django-registration
django-reversion == 6.1.0
psycopg2-binary
uwsgi
pyshp
PyLD

# 3rd Party Form Fields
django-phone-field

# TESTING
coverage

# FOR STYLING USING SASS OR SCSS
libsass 
django-compressor 
django-sass-processor

#OPTIONAL, BUT LOVELY FOR DEBUGGING
ipdb
ipython