DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'bluepages',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = [
    'localhost',
    'your.site.com',
]

SECRET_KEY = 'button_mash_to_your_hearts_content_you_will_never_need_to_enter_this'

DEBUG = True
DEBUG_JS = DEBUG

REQUIRE_ACCOUNT = False