{% load sass_tags static %}

<!doctype html>
<html lang="en">
    {% block head %}
        <head>
            {% block head_title %}
                <title>WC Blue Pages</title>
            {% endblock %}
            {% block head_meta %}
                <meta charset="utf-8">
                <meta name="Author" content="Ecotrust" />
                <meta name="Description" content="West Coast Blue Pages" />
                <meta name="Keywords" content="" />
                <!-- other meta tags-->
            {% endblock %}
            {% block head_favicon %}
                <link title="fav icon" rel="icon" href="{% static 'app/img/favicon.ico' %}">
                <link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" />
            {% endblock %}
            {% block head_analytics %}
                <!--Google Analytics-->
            {% endblock %}

            {% block head_css %}
                <link href="{% static 'app/js/dist/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
                <link href="{% static 'app/js/dist/bootstrap-icons.min.css' %}" rel="stylesheet" type="text/css" />
                <link href="{% static 'app/js/dist/ol.css' %}" rel="stylesheet" type="text/css" />
                <link href="{% static 'app/js/dist/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
                <link href="{% sass_src 'app/scss/bluepages.scss' %}" rel="stylesheet" type="text/css" />
            {% endblock %}      
            
            {% block head_js %}
            {% endblock %}
        </head>
    {% endblock %}
    {% block body %}
        <body>
            {% block body_header %}
                <header>
                    {% include "header.html" %}
                </header>
            {% endblock %}
            {% block body_modals %}
                {% include 'modals.html' %}
            {% endblock %}
            {% block body_main %}
                <main>
                    {{ body_main_content }}
                </main>
            {% endblock %}
            {% block body_scripts %}
                <script>
                    let app = {};
                    app.csrf_element = '{% csrf_token %};'
                    let csrf_div = document.createElement('div');
                    csrf_div.innerHTML = app.csrf_element.trim();
                    app.csrftoken = csrf_div.firstChild.value;

                </script>
                <script src="{% static 'app/js/dist/app.min.js' %}"></script>
            {% endblock %}
        </body>
    {% endblock %}
</html>