<h1>{{ contact.full_name }}</h1>
<h3 class="subtitle">{{ contact.job_title }}{% if contact.job_title and contact.entity %} at {% endif %}{{ contact.entity }}</h3>

<div class="section-container">
    <h6 class="section-header"><i class="bi bi-person"></i> Contact Information</h6>
    <div class="background-container">
        {% for field in form %}
            {% if field.name in contact_info and not field.name == 'is_test_data' and not field.name == 'show_on_entity_page' %}
                {% if field.value and field.value != '' and field.value != None and field.value != 'None' %}
                        <p><b>{{ field.label }}:</b>
                           {% if field.name == 'entity' %}
                                {% if embedded %}
                                    <a href="/entities/{{contact.entity.pk}}/" target="_blank">{{contact.entity}}</a>
                                {% else %}
                                    <a href="/entities/{{contact.entity.pk}}/">{{contact.entity}}</a>
                                {% endif %}
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="section-container">
    <h6 class="section-header"><i class="bi bi-envelope"></i> Contact Details</h6>
    <div class="background-container">
        {% for field in form %}
            {% if field.name in contact_details and not field.name == 'is_test_data' and not field.name == 'show_on_entity_page' %}
                {% if field.name == 'phone' and contact.phone %}
                    <p><b>{{ field.label }}:</b> {{ contact.phone.formatted }}</p>
                {% elif field.name == 'mobile_phone' and contact.mobile_phone %}
                    <p><b>{{ field.label }}:</b> {{ contact.mobile_phone.formatted }}</p>
                {% elif field.name == 'office_phone' and contact.office_phone %}
                    <p><b>{{ field.label }}:</b> {{ contact.office_phone.formatted }}</p>
                {% elif field.name == 'fax' and contact.fax %}
                    <p><b>{{ field.label }}:</b> {{ contact.fax.formatted }}</p>
                {% elif field.value and field.value != '' and field.value != None and field.value != 'None' %}
                    {% if field.value|first != None %}
                        <p><b>{{ field.label }}:</b>
                        {% if field.name == 'email' %}
                            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        {% else %}
                            {{ field.value }}
                        {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
            {% if contact.address and contact.address|first != None and contact.address != 'None None'%}
                <p><b>Address:</b> {{ contact.address }}</p>
            {% endif %}
    </div>
</div>

{% if contact.record_set.all|length > 0 %}
    <div class="section-container">
        <h6 class="section-header"><i class="bi bi-geo"></i> Topics</h6>
        <div class="background-container">
        <table class="contact-topics-table">
            <tr>
                <th>Topic</th>
                <th>Regions</th>
            </tr>
            {% for record in contact.record_set.all %}
                <tr>
                    <td><b>{{record.topic}}</b></td>
                    <td>{{ record.general_regions }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}