{% load static sass_tags %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!-- Bootstrap and jQuery are loaded from base.html and bundled in webpack -->
    <link href="{% static 'app/js/dist/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'app/js/dist/bootstrap-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'app/scss/explorer.scss' %}" rel="stylesheet" type="text/css" />
    <!-- THIS NEEDS TO BE HERE FOR Ocean InfoHub Connectivity!-->
    <script type="application/ld+json">
        {{ JSON_LD|safe }}
    </script>
</head>
<body>
    <main class="contact-page">
        {% include 'contact_detail.html' %}
    </main>
</body>