<button type="button" class="btn btn-primary" onclick="app.loadSuggestionMenu()">
    &lt; Manage All Suggestions
</button>
<p id="contact-suggestion-description">Proposed update: {{ contact.description }}</p>
<div id="container">
  <div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-primary" onclick="app.loadSuggestionForm({{ contact.id }})">
            Edit
        </button>
    </div>
    <div class="col-11">
        <div id="suggested_contact_details" class="left-panel">
            <h4>Contact: {{ contact.name }}</h4>
            <table>
                <tr>
                    <td>Position:</td>
                    <td>{{ contact.job_title }}</td>
                </tr>
                <tr>
                    <td>Entity:</td>
                    <td>{{ contact.entity_name }}</td>
                </tr>
            <!--
                <tr>
                    <td>Email:</td>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        {% if contact.address.proposed_address.line_1 %}
                            Line 1: {{ contact.address.proposed_address.line_1 }}<br />
                        {% endif %}
                        {% if contact.address.proposed_address.line_2 %}
                            Line 2: {{ contact.address.proposed_address.line_2 }}<br />
                        {% endif %}
                        {% if contact.address.proposed_address.city %}
                            City: {{ contact.address.proposed_address.city }},&nbsp;
                        {% endif %}
                        {% if contact.address.proposed_address.state %}
                            State: {{ contact.address.proposed_address.state }}&nbsp;
                        {% endif %}
                        {% if contact.address.proposed_address.zip_code %}
                            Zip: {{ contact.address.proposed_address.zip_code }}
                        {% endif %}
                        {% if contact.address.proposed_address.country %}
                            <br />
                            Country: {{ contact.address.proposed_address.country }}
                        {% endif %}
                    </td>
                </tr>

            -->
      
            </table>
        </div>

    </div>
  </div>
  <div class="row">
        <div class="right-panel col-12">
            <button id="add-topic-button" type="button" class="btn btn-primary" onclick="app.prepRecordSuggestions({{ contact.id }}, false)">
                + Add Topic
            </button>
            <h4>Topics:</h4>
        </div>
    </div>
    {% if contact.records|length == 0 %}
        <div class="row">
            <p>Contact has no associated topics.</p>
        </div>
    {% endif %}
    {% for record in contact.records %}
        <div class="contact-record-menu-entry row" >
            <div class="col-8 {{ record.status }}"><b>{{ record.topic }}</b></div>
            <div class="col-4">
                <button class="btn btn-primary" onclick="app.prepRecordSuggestions({{ contact.id }}, {{ record.id }})">Edit</button>
                <button class="btn btn-danger" onclick="app.deleteRecordSuggestions({{ contact.id }}, {{ record.id }})">Delete</button>
            </div>
        </div>
    {% endfor %}
</div>