{% extends 'base.html' %}
{% load static sass_tags %}

{% block head_meta %}
    {{ block.super }}
    <link href="{% static 'app/js/dist/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'app/js/dist/bootstrap-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'app/scss/explorer.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <!-- Bootstrap and jQuery are loaded from base.html and bundled in webpack -->
    <!-- THIS NEEDS TO BE HERE FOR Ocean InfoHub Connectivity!-->
    <script type="application/ld+json">
        {{ JSON_LD|safe }}
    </script>
{% endblock %}

{% block body_main %}
    <main class="entity-page">
        {% include "entity_detail.html" %}
    </main>
{% endblock %}
        
