{% load static %}
<div class="header-flex">
    <div class="logo header-logo">
    <a href="/">
        {% comment %} <img src="{% static 'img/logo.png' %}" alt="Blue Pages" /> {% endcomment %}
            <div class="logo-bg">
                <h1>WCBP</h1>
            </div>
        </a>
    </div>
    <div class="row header-title">
        <div class="col-12 text-center">
            <h1>West Coast Blue Pages</h1>
            <p class="lead mb-2">Understand Your Impact</p>
        </div>
    </div>
    <div class="header-user">
        {% if user.is_authenticated %}
            <button class="btn btn-primary">Account</button>
            <a href="/accounts/logout/"><button class="btn btn-primary">Logout</button></a>
        {% else %}
            <button class="btn btn-primary" onclick="app.loadRegistrationForm()">Register</button>
            <button class="btn btn-primary" onclick="app.loadLoginForm()">Login</button>
        {% endif %}
    </div>
</div>