{% load static %}
<div class="header-flex">
    <a href="/">
        <div class="logo header-logo">
            <div class="logo-bg">
                <h1>WCBP</h1>
            </div>
        </div>
    </a>
    <div class="row header-title">
        <div class="col-12 text-center">
            <h1>West Coast Blue Pages</h1>
            <p class="lead mb-4">Understand Your Impact</p>
        </div>
    </div>
    {% comment %} <img src="{% static 'img/logo.png' %}" alt="Blue Pages" /> {% endcomment %}
</div>