{% extends 'base.html' %}
{% load sass_tags static %}


{% block head_css %}
    {{ block.super }}
    <link href="{% sass_src 'app/scss/suggestion_menu.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'app/scss/suggestion_form.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'app/scss/record_suggestion.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_main %}
  <main>
      <div class="container-flex">
          <div id="home-columns-row" class="row">
              <div id="filter-column" class="home-column">
                  {% include "home_filter_column.html" %}
              </div> 
              <div id="results-column" class="home-column">
                  {% include "home_results_column.html" %}
              </div>
              <div id="map-column" class="home-column">
                  {% include "home_map_column.html" %}
              </div>
          </div>
      </div>
    </div>

    <div id="results-column" class="home-column">
      {% include "home_results_column.html" %}
    </div>
    <div id="map-column" class="home-column">
      {% include "home_map_column.html" %}
    </div>
  </div>
</div>
</main>
{% endblock %} {% block body_scripts %} {{ block.super }}
<script src="{% static 'app/js/dist/record_suggestion.min.js' %}"></script>
{% endblock %}
