{% extends 'base.html' %}
{% load sass_tags static %}


{% block head_css %}
    <!-- These are now loaded from base.html and bundled in app.min.js -->
     {{ block.super }}
{% endblock %}

{% block body_main %}
    <main>
        <div class="container-flex">
            <div id="home-columns-row" class="row">
                <div id="filter-column" class="home-column">
                    {% include "home_filter_column.html" %}
                </div> 
                <div id="results-column" class="home-column">
                    {% include "home_results_column.html" %}
                </div>
                <div id="map-column" class="home-column">
                    {% include "home_map_column.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script src="{% static 'app/js/dist/record_suggestion.min.js' %}"></script>
{% endblock %}