{% load sass_tags static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>WC Blue Pages</title>
		<meta name="Author" content="Ecotrust" />
		<meta name="Description" content="West Coast Blue Pages" />
		<meta name="Keywords" content="" />
		<!-- other meta tags-->
		{% comment %} <link title="fav icon" rel="icon" href="/img/favicon.ico"> {% endcomment %}
  		{% comment %} <link rel="shortcut icon" href="/img/favicon.ico" /> {% endcomment %}
  		<!--Google Analytics-->
        
        <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'app/scss/bluepages.scss' %}" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <main>
            <div class="container-flex">
                <div id="home-columns-row" class="row">
                    <div id="filter-column" class="col-4 home-column">
                        {% include "home_filter_column.html" %}
                    </div> 
                    <div id="results-column" class="col-4 home-column">
                        {% include "home_results_column.html" %}
                    </div>
                    <div id="map-column" class="col-4 home-column">
                        {% include "home_map_column.html" %}
                    </div>
                </div>
            </div>
        </main>
        <script src="{% static 'app/js/dist/app.min.js' %}"></script>
    </body>
</html>