<h1>{{user.username}}</h1>
<div class="container">
    <div class="row">
        <div class="col user-actions">
            <button class="btn btn-primary" type="button" onclick="app.loadProfileForm()">Edit Profile</button>
            <button class="btn btn-primary" type="button" onclick="app.loadPasswordChangeForm()">Change Password</button>
            <button class="btn btn-primary" type="button" onclick="app.loadSuggestionMenu()">Suggestions</button>
            <a href="/admin/" target="_blank">
                <button class="btn btn-primary" type="button">Site Administration</button>
            </a>
        </div>
        <div class="col">
            <p><b>First Name:</b> {{user.first_name}}</p>
            <p><b>Last Name:</b> {{user.last_name}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Joined:</b> {{user.date_joined}}</p>
        </div>
    </div>
</div>