<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8">
        <title>Region Picker</title>
        <style>
            body {
                text-align: center;
            }

            #right-panel {
                float: right;
            }

            .map {
                float: left;
                width: 40%;
                height: calc(100vh - 95px);
                border: 1px solid black;
            }
        </style>
    </HEAD>
    <BODY>
        <h1>Region Picker</h1>
        <div id="map" class="map"></div>
        <div id="right-panel">
            <h2>Select your regions</h2>
            <p>TODO: checkbox filter shortcuts for 'all', 'only x depth', or 'only x state'</p>
            <p><label for='region-codes'>Your Codes:</label></p>
            <textarea id="region-codes" name="region-codes" rows="5" cols="50"></textarea>
        </div>
        <script>

        </script>
    </BODY>
</HTML>