{% load static sass_tags%}
<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8">
        <title>Region Picker</title>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css"> -->
        <link rel="stylesheet" href="{% static 'app/vendor/openlayers/v6.15.1-dist/ol.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'app/css/region_picker.css' %}"> -->
        <link rel="stylesheet" href="{% sass_src 'app/scss/region_picker.scss' %}" rel="stylesheet" type="text/css">
        
    </HEAD>
    <BODY>
        <div id="title-div">
            <h1>BluePages Region Picker</h1>
        </div>
        <div id="flex-container">

            <div id="map" class="map left-panel"></div>
            <div id="right-panel">
                <h2>Select your regions</h2>
                <p><b>Option 1:</b> Click on each region on the map to select it. Click again to unselect.</p>
                <p><b>Option 2:</b> Filter which regions are selected with these checkboxes:</p>
                <div id="filter-boxes-wrapper">
                    <fieldset id="state-boxes-fieldset">
                        <b>States:</b>
                        <div id="state-boxes-wrapper">
                            <div class="state-box filter-box">
                                <input type="checkbox" id="washington" name="washington" class="state-input filter-input" value="WA">
                                <label for="washington">Washington</label>
                            </div>
                            <div class="state-box filter-box">
                                <input type="checkbox" id="oregon" name="oregon" class="state-input filter-input" value="OR">
                                <label for="oregon">Oregon</label>
                            </div>
                            <div class="state-box filter-box">
                                <input type="checkbox" id="california" name="california" class="state-input filter-input" value="CA">
                                <label for="california">California</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="depth-boxes-fieldset">
                        <b>Depth:</b>
                        <div id="depth-boxes-wrapper">
                            <div class="depth-box filter-box">
                                <input type="checkbox" id="offshore" name="offshore" class="depth-input filter-input" value="O">
                                <label for="offshore">Offshore</label>
                            </div>
                            <div class="depth-box filter-box">
                                <input type="checkbox" id="middepth" name="middepth" class="depth-input filter-input" value="M">
                                <label for="middepth">Middle-depth</label>
                            </div>
                            <div class="depth-box filter-box">
                                <input type="checkbox" id="nearshore" name="nearshore" class="depth-input filter-input" value="N">
                                <label for="nearshore">Nearshore</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <p><label for='region-codes'>Your Codes:</label></p>
                <textarea id="region-codes" name="region-codes" rows="5" cols="50" disabled></textarea>
                <button id="copy-button" onclick="copyCodesToClipboard()">Copy to clipboard</button>
                <p>Copy these codes and paste them into your Contact Form when ready.</p>
            </div>
        </div>
        <!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script> -->
        <script src="{% static 'app/vendor/jquery/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'app/vendor/openlayers/v6.15.1-dist/ol.js' %}"></script>
        <script src="{% static 'app/js/region_picker.js' %}"></script>
    </BODY>
</HTML>