<p id="suggestion-menu-details">
    Your suggestions will be made available to the Blue Pages administrators to decide whether to include in the database. 
    You can use these suggestions to recommend adding new contacts or to recommend updates to existing contacts in Blue Pages.
    If a contact should be removed, please use this form, select your contact, and explain your recommendation and reasoning
    in the "notes" section.
</p>
<button type="button" class="btn btn-primary" onclick="app.loadSuggestionForm()">
    + Add Suggestion
</button>
<div>
    {% if suggestions|length > 0 %}
    {% for suggestion in suggestions %}
        <div class="section_container">
            <section class="suggestion_container" onclick="app.prepContactMenuModal({contact_suggestion: {{ suggestion }} })">
                <div class="">
                    <div class="d-flex flex-row">
                        <h3 class="lead">{{ suggestion.contact_name }}</h3> 
                        <span class="badge rounded-pill align-baseline status-{{ suggestion.status }} ">{{ suggestion.status }}</span>
                    </div>    
                    <p class="m-0">Created: {{ suggestion.date_created }}</p>
                    <p class="m-0">Modified: {{ suggestion.date_modified }}</p>
                    {% if suggestion.topics|length > 0 %}
                    Topics:
                    <ul>
                    {% for record in suggestion.topics %}
                            <li>
                                {{ record.topic }}
                                <span class="badge rounded-pill status-{{ record.status }}">{{ record.status }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No topics provided.
                    {% endif %}
                </div>
                <div class="">
                    <button type="button" class="btn btn-standard" onclick="app.prepContactMenuModal({contact_suggestion: {{ suggestion }} })">
                    View
                </button>
                <button type="button" class="btn btn-danger" onclick="app.confirmSuggestionDeletion({{ suggestion.id }})">
                    Remove Suggestion
                </button>
                </div>    
            </section>
            
        </div>
    {% endfor %}
    {% else %}
        <div class="no-suggestions">
            <p >No suggestions yet. Click the "Add Suggestion" button above to submit a suggestion.</p>
        </div>
    {% endif %}
</div>
