<button type="button" class="btn btn-primary" onclick="app.loadSuggestionForm()">
    + Add Another
</button>
<div class="container">

    {% for suggestion in suggestions %}
        <div class="row">
            <section class="suggestion_container col" onclick="app.prepContactMenuModal({contact_suggestion: {{ suggestion }} })">
                <h3 class="lead">{{ suggestion.contact_name }}</h3>
                <div>
                    Status: <span class="status_{{ suggestion.status }}">{{ suggestion.status }}</span>
                </div>
                {% if suggestion.topics|length > 0 %}
                    Topics:
                    <ul>
                    {% for record in suggestion.topics %}
                            <li>
                                {{ record.topic }}
                                ( Status: <span  class="{{ record.status }}">{{ record.status }}</span> )
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No topics provided.
                {% endif %}
            </section>
            <div class="suggestion_status_controls col-6">
                <p>Created: {{ suggestion.date_created }}</p>
                <p>Modified: {{ suggestion.date_modified }}</p>
                <button type="button" class="btn btn-standard" onclick="app.prepContactMenuModal({contact_suggestion: {{ suggestion }} })">
                    View
                </button>
                <button type="button" class="btn btn-danger" onclick="app.confirmSuggestionDeletion({{ suggestion.id }})">
                    Remove Suggestion
                </button>
            </div>
        </div>
    {% endfor %}
</div>
