{% load static sass_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap and jQuery are loaded from base.html and bundled in webpack -->
        <link href="{% static 'app/js/dist/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'app/js/dist/bootstrap-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'app/scss/explorer.scss' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'app/js/vanilla/explore.js' %}"></script>
    </head>
    <body>

        {% include "explore/entityTree.html" %}

    </body>
</html>