{% extends 'base.html' %} 

{% load static sass_tags %}

{% block head_css %}
    {{ block.super }}
    <!-- Bootstrap and icons loaded from base.html -->
    <link href="{% sass_src 'app/scss/bluepages.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'app/scss/explorer.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_js %}
    <!-- Bootstrap and jQuery are loaded from base.html and bundled in webpack -->
    <script src="{% static 'app/js/vanilla/explore.js' %}"></script>
{% endblock %}

{% block body_main %}
    <main>
        {% include "explore/entityTree.html" %}
    </main>
{% endblock %}