{% if entities|length > 0 %}
    <ul>
        {% for entity in entities %}
            <li>
                {{ entity.name }}
                {% if entity.children|length > 0 %}
                    <a class='btn btn-primary' data-toggle="collapse" href="#explore-entity-children-{{ entity.id }}" 
                    role="button" aria-expanded="false" aria-controls="explore-entity-children-{{ entity.id }}">
                        <i id="explore-entity-chevron-{{ entity.id }}" class="bi bi-chevron-down explore-entity-chevron"></i>
                    </a>
                {% endif %} 
                <button class="btn btn-primary entity-details-button" onclick="app.prepExploreDetailsModal('entities', {{entity.id}})">View</button>
            </li>
            {% if entity.children|length > 0 %}
                <div class="collapse" id="explore-entity-children-{{ entity.id }}">
                    {% with entity.children as entities %}
                        <div class="card card-body">
                            {% include "explore/entityTree.html" %}        
                        </div>
                    {% endwith %}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}